{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
<link rel="icon" href="{% static 'favicon.ico' %}" sizes="48x48" />
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}


{% block userlinks %}

<a href="{% url 'home' %}">
    {% translate 'View site' %} <img src="{% static 'img/turkish.png' %}" width="24" height="24" alt=""></a> /
<a href="{% url 'home_en' %}">
    {% translate 'View site' %} <img src="{% static 'img/english.png' %}" width="24" height="24" alt=""></a> /

{{ block.super }}
/ <form action="{% url 'set_language' %}" method="post" style="display:inline">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
    </select>
</form>
{% endblock %}