{% extends 'en/layout.html' %}
{% load static %}
{% block content %}
<!-- Page Content -->
<div class="container mt-5">

    <h3 class="mb-3">
        {% block title %}
        {{blogSingle.blogTitle}}
        {% endblock title %}
    </h3>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a href="{% url 'home_en' %}">Home</a>
        </li>
        <li class="breadcrumb-item active"><a href="{% url 'blogList_en' %}">Blog</a></li>
        <li class="breadcrumb-item">{{blogSingle.blogTitle}}</li>
    </ol>

    <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
            <img class="img-fluid border rounded" src="{{ blogSingle.blogImage.url }}" alt="">
        </div>
        <div class="col-md-8 offset-md-2 col-xs-12">
            <hr>
            <p>{{blogSingle.blogDate}}</p>
            <hr>
            <p>{{blogSingle.blogContent|safe}}</p>
        </div>
    </div>
</div>

{% endblock content %}