{% load static %}
<!-- Header Section -->
<nav class="navbar navbar-expand-lg bg-white shadow-lg" style="z-index: 100;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home_en' %}">
            <img src="{% static 'img/iKnowLogo.jpeg' %}" style="width: 75%;" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-align-justify"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == "/en/" %}item-active{% endif %}"
                        href="{% url 'home_en' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'about' in request.path %}item-active{% endif %}"
                        href="{% url 'about_en' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'service' in request.path %}item-active{% endif %}"
                        href="{% url 'serviceList_en' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'portfolio' in request.path %}item-active{% endif %}"
                        href="{% url 'portfolioList_en' %}">
                        Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'blog' in request.path %}item-active{% endif %}"
                        href="{% url 'blogList_en' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'contact' in request.path %}item-active{% endif %}"
                        href="{% url 'contact_en' %}">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Corporate
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
                        <a class="dropdown-item" href="{% url 'careerList_en' %}">Career</a>
                        <a class="dropdown-item" href="{% url 'faq_en' %}">FAQ</a>
                        <a class="dropdown-item" href="{% url 'privacyPolicy_en' %}">Privacy Policy</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'img/english.png' %}" width="24" height="24" alt=""> English
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
                        <a class="dropdown-item" href="{% url 'home' %}"><img src="{% static 'img/turkish.png' %}"
                                width="24" height="24" alt=""> Türkçe</a>
                        <a class="dropdown-item" href="{% url 'home_en' %}"><img src="{% static 'img/english.png' %}"
                                width="24" height="24" alt=""> English</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'getoffer' in request.path %}item-active{% endif %}"
                        href="{% url 'getOffer_en' %}">Get Offer</a>
                </li>
            </ul>
        </div>
    </div>
</nav>