{% load static %}
<!-- Service Section -->
<div class="jumbotron bg-white px-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-4">
                    <i class="fas fa-tools"></i> SERVICES
                </h2>
                <h5 class="text-muted mb-4 text-center">
                    You can take a closer look at our projects that we have successfully overcome.
                </h5>
            </div>
            {% for service in servicePartial %}
            <div class="col-lg-4 col-md-6 mb-4">
                <a class="text-center" href="{% url 'serviceSingle_en' service.serviceSlug %}">
                    <div class="card border-0 h-100 shadow">
                        <div class="card-body">
                            <p class="my-4">{{ service.serviceIcon|safe }}</p>
                            <h4 class="card-title text-center">
                                {{ service.serviceTitle }}
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>