{% load static %}
<!-- About Section -->
<div class="jumbotron bg-light" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About iKnow Technology</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id
                    reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia
                    dolorum
                    ducimus unde</p>
                <p class="text-left">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </p>
            </div>
            <div class="col-lg-6">
                <h1>
                    <img class="img-fluid rounded" src="{% static 'img/undraw_moonlight_5ksn.svg' %}" alt="">
                </h1>
            </div>
        </div>
    </div>
</div>